<% provide(:title, t(".title")) %>
<div class="container about">
  <h1><img src="<%= asset_pack_path 'images/logo.png' %>" alt="logo"></h1>
  <p class="text-center">
    PORTは、エンジニアが自身のポートフォリオを共有するためのサービスです。
  </p>
  <div class="about-box">
    <h2>PORTの使い方</h2>
    <ol>
      <h3><li>ポートフォリオを投稿する</li></h3>
      <p>
        ヘッダーの<b>投稿する</b>ボタンからポートフォリオを投稿しましょう。ポートフォリオは開発前の構想の段階からでも投稿できます。
      </p>
      <h3><li>プログレスを更新する</li></h3>
      <p>
        投稿したポートフォリオはプログレスで管理します。企画→設計→開発→公開の各段階でレビューをもらいましょう。
      </p>
      <h3><li>ポートフォリオにコメントする</li></h3>
      <p>
        投稿したポートフォリオにはコメントすることができます。<br>
        また、投稿したコメントはユーザページで確認することができます。
      </p>
    </ol>
  </div>
</div>
