<%
  provide(:title, t(".sign_up"))
  provide(:sns, "devise.registrations.new.sns")
  provide(:sign_sns, "devise.registrations.new.sign_up_sns")
  provide(:url, user_registration_path)
%>
<div class="entry-box">
  <h1>PORTへようこそ！</h1>
  <h2>新規登録（無料）して利用を開始しましょう。</h2>
  <hr>
  <%= render 'devise/shared/user_form' %>
</div>
