<% provide(:title, t("devise.registrations.new.sign_up")) %>
<% provide(:submit_text, t("devise.registrations.new.sign_up")) %>
<h2><%= t(".sign_up") %></h2>

<%= render 'user_form' %>

<%= render "devise/shared/links" %>
