<% provide(:title, t(".title")) %>
<% provide(:submit_text, t("btn.create")) %>
<div class="portfolio-show progress-form">
  <main class="portfolio-whole <%= "before-login" unless user_signed_in? %>">
    <%= render 'progress_form' %>
  </main>
  <aside>
    <%= render "shared/portfolio_sidebar", portfolio: @portfolio %>
  </aside>
</div>
