<% provide(:title, t(".title")) %>

<h1>Users#index</h1>
<section class="user_show fdb-block fp-active" data-block-type="testimonials" data-id="1">
  <div class="container">
    <div class="fdb-box">
      <ul class="users">
        <%= render @users %>
      </ul>
      <%= paginate @users %>
    </div>
  </div>
</section>
