<div class="user-image">
  <%= set_user_image(@user) %>
</div>
<%= render "users/follow_form", user: @user if user_signed_in? %>
<div class="user-info">
  <h1><%= @user.username %></h1>
  <p class="profile"><%= @user.profile %></p>
</div>
