<%
  provide(:title, t(".sign_in"))
  provide(:sns, "devise.sessions.new.sns")
  provide(:sign_sns, "devise.sessions.new.sign_in_sns")
  provide(:url, user_session_path)
%>
<div class="entry-box">
  <h1><%= t(".sentence.sign_in") %></h1>
  <hr>
  <%= render 'devise/shared/user_form' %>
</div>
