/* mixins, variables, etc. */

$gray-medium-light: #f5f4f7;

/* universal */

body {
  background-color: $gray-medium-light;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}
a {
  color: #333;
}
a:hover {
  text-decoration: none;
}
ul, ol {
  list-style: none;
  padding-left: 0;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}
h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 20px;
  font-weight: normal;
  text-align: center;
}
p {
  line-height: 1.7em;
  margin-bottom: 10px;
}

/* header */

header {
  nav {
    background-color: #dfeffc;
    margin-bottom: 15px;
  }
  #logo {
    float: left;
    margin-right: 10px;
    padding-top: 7px;
  }
  .logo {
    width: 110px;
  }
  .nav-right {
    padding-top: 12px;
  }
  .user-image {
    height: 32px;
    border-radius: 5px;
  }
  .dropdown-menu {
    padding: 5px;
    background-color: #e3f2fd;

    .dropdown-divider {
      border-top: 1px solid rgba(0, 0, 0, .3);
    }
    a {
      color: rgba(0, 0, 0, .5);
    }
    a:hover {
      text-decoration: none;
      color: rgba(0, 0, 0, .7);
    }
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;

  #logo {
    padding-top: 0;
  }
  a {
    color: gray;
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* error_message */
#error_explanation {
  ul {
    list-style: disc;
    padding-inline-start: 40px;
  }
}

/* flash_message */

.flash-message .alert {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 50%;
  height: 50px;
  margin: 70px auto;
}
.alert-alert {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.alert-alert hr {
  border-top-color: #f1b0b7;
}
.alert-alert .alert-link {
  color: #491217;
}
.alert-notice {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
.alert-notice hr {
  border-top-color: #b1dfbb;
}
.alert-notice .alert-link {
  color: #0b2e13;
}

/* user index */
.users {
  padding-left: 0;
  margin-right: 15px;
}

/* user show */

.user-info-whole {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding-top: 15px;

  .user-info {
    margin-right: 15px;

    .user-image {
      margin-bottom: 10px;
    }
    img {
      width: 100%;
    }
    form {
      margin-bottom: 10px;
    }
    .btn {
      width: 100%;
    }
    h1 {
      font-size: 2em;
      text-align: left;
      margin-bottom: 10px;
    }
    .profile {
      font-size: 0.9rem;
    }
  }
  .portfolios {
    .media {
      border-bottom: 1px solid #dee2e6;
    }
  }

  .multi-info-box {
    padding-bottom: 20px;
  }

  .form-horizontal {
    padding: 0 15px 15px 0;

    .actions {
      display: flex;
    }
    .submit {
      margin-left: 0;
    }
  }
}
.nav-tabs {
  margin-bottom: 15px;
}

/* portfolio show */
.portfolio-show {
  display: flex;
  justify-content: space-between;
}
.portfolio-whole {
  width: 75%;
  margin-top: 30px;
  margin-right: 15px;
  background-color: white;
  padding: 30px;

  .portfolio-header {
    margin-bottom: 30px;

    img {
      width: 32px;
      margin-right: 5px;
    }
    .timestamp, .pageview {
      font-size: 0.9rem;
      color: #aaa;
      margin-left: 10px;
    }
    .nav-link {
      padding: 0;
    }
    .dropdown {
      float: right;
    }
    .dropdown-menu {
      padding: 5px;
    }
  }
  .title {
    text-align: left;
    font-weight: 700;
    margin-bottom: 30px;
  }
  .image {
    width: 100%;
    margin-bottom: 20px;
  }
  .content {
    margin-bottom: 20px;
  }
  hr {
    margin-bottom: 1.5rem;
  }
  .progress-user {
    display: flex;
    margin-bottom: 30px;

    img {
      width: 60px;
      margin-right: 10px;
    }
    .profile {
      color: #777;
      font-size: 0.8rem;
      margin-bottom: 5px;
    }
    .btn {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
.progress-whole {
  margin-bottom: 30px;

  h2 {
    background-color: #dfeffc;
  }
  .progress-header {
    margin-bottom: 20px;

    .average_evaluation {
      img:first-child {
        padding-left: 6px
      }
      img {
        padding-bottom: 3px
      }
    }
    .dropdown {
      float: right;
    }
    .dropdown-toggle {
      padding: 0;
    }
    .dropdown-menu {
      padding: 5px;
    }
  }
  .comments {
    .user-image {
      width: auto;

      img {
        width: 30px;
        margin-right: 2px;
        border-radius: 50%;
      }
    }
    .evaluation {
      img:first-child {
        padding-left: 4px
      }
      img {
        padding-bottom: 4px
      }
    }
    .trix-content {
      display: inline-block;
      position: relative;
      padding: 10px;
      background: #edf1ee;
    }
    .trix-content:after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 3px;
      left: -19px;
      border: 8px solid transparent;
      border-right: 18px solid #edf1ee;
      -webkit-transform: rotate(35deg);
      transform: rotate(35deg);
    }
  }
}
.comment-form {
  .user-image {
    width: 36px;
    margin-bottom: 10px;
  }
}
.new_comment, .edit_comment {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;

  #comment_comment, #edit_comment {
    margin-bottom: 10px;
  }
  #star {
    display: inline-block;
    margin-left: 5px;
  }
  .comment-form-footer {
    justify-content: flex-end;
    display: flex;
  }
  .btn {
    padding: 2px 12px;
  }
}

aside {
  width: 25%;

  .portfolio-side {
    border: #aaa 1px solid;
    border-radius: 5px;
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
    margin-top: 30px;

    .portfolio-side-list {
      margin: 10px;
      display: block;
      text-align: left;
      padding-left: 30px;

      a, button {
        color: #333;
      }
      button {
        text-align: left;
        padding-left: 30px;
      }
    }
    .relative {
      position: relative;
      height: 38px;
    }
    .relative a, .relative button {
      position: absolute;
      left: 0;
      height: 100%;
      width: 100%;
      padding-bottom: 0;
    }
    .relative > div {
      display: inline-block;
    }
    .relative button {
      top: 0;
    }
    .portfolio-side-list:hover button, .portfolio-side-list:hover span {
      color: #0056b3;
    }
  }
}
.before-login {
  width: 100%;
}

/* top page */

.top-page-box {
  padding: 15px;
  margin: auto auto 15px;
  background-color: white;

  .top-page-message {
    padding: 50px 25px 0px 15px;
  }
  .control-label {
    margin-top: 8px;
  }
  .portfolios {
    padding-left: 0;
  }
  .snses {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .btn {
      width: 30%;
      height: 40px;
      border: 1px solid #ced4da;
    }
    .btn:hover {
      background-color: $gray-medium-light;
    }
    .fa-twitter {
      color: #1a97f0;
    }
    .fa-google {
      color: #bf4e42;
    }
  }
  .or {
    margin: 10px auto 15px;
  }
}
.submit {
  margin: auto;
  display: block;
  width: 70%;
  border: 1px solid #ced4da;
  color: #333;
}
.submit:hover {
  color: #333;
  border: 1px solid #ced4da;
  background-color: $gray-medium-light;
}

.post-warning a:hover{
  text-decoration: none;
}
.top-page-info {
  display: flex;
  justify-content: space-between;

  .main {
    width: 75%;

    .portfolios-header {
      padding: 15px;
      margin: auto 15px 5px auto;
      border-radius: 5px 5px 0 0;
    }
  }
  .before-login {
    width: 100%;

    .portfolios-header {
      margin: auto auto 5px;
    }
    .portfolios {
      padding-right: 0px;
    }
  }
  .sidebar {
    width: 25%;
  }
}

/* sign up & sign in*/
.entry-box {
  padding: 20px;
  background-color: white;

  .snses {
    margin-bottom: 15px;

    .btn {
      width: 80%;
      color: white;
      font-weight: 400;
      border-radius: 5px;
      margin-bottom: 10px;
      margin: 0 auto 10px;
      display: block;
    }
    .btn:hover {
      opacity: 0.8;
    }
    .twitter {
      background-color: #1a97f0;
    }
    .github {
      background-color: #444444;
    }
    .google {
      background-color: #bf4e42;
    }
  }
}
.user-form-links {
  font-size: 0.8rem;
  width: 80%;
  margin: auto;
}

/* stats */

.stats-whole {
  border: $gray-medium-light 1px solid;
  position: -webkit-sticky;
  position: sticky;
  top: 50px;

  .border-bottom, .border-left {
    border-color: $gray-medium-light;
  }
}
.stats-user-info {
  padding: 15px;

  img {
    border-radius: 5px !important;
    margin-right: 5px;
  }
}
.stats {
  display: flex;
  justify-content: space-between;
}
.stat {
  padding: 10px;
  width: 33.3%;
  text-align: center;
}
.stat-label {
  font-size: 14px;
}

/* portfolio_media */

.portfolios {
  margin-right: 15px;
  padding-left: 0px;

  img {
    width: 25%;
    height: 125px;
    object-fit: contain;
  }
  .media {
    height: 125px;
    margin-bottom: 5px;
  }
  .media-body {
    padding-top: 10px;
  }
}
.portfolio-info {
  padding-top: 3px;

  .pageview {
    padding-left: 10px;
  }
}
.btn-favorite {
  color: #0070ff;
}
.btn-favorite, .btn-unfavorite {
  padding-top: 0px !important;
  border: none !important;
}

/* user patial */
.user-partial {
  display: flex;
  background-color: white;
  margin-bottom: 5px;

  .user-image {
    width: 73px;
    margin-right: 10px;
  }
  .user-info {
    margin-right: 15px;

    .user-name {
      font-size: 1.6rem;
    }
  }
  .follow-form {
    line-height: 73px;
    padding: 0;
  }
}

/* comment patial */
.comments {
  .media {
    margin-bottom: 10px;
  }
  .user-image {
    width: 73px;
    margin-right: 5px;
  }
  .comment-info {
    width: 100%;
    margin: 5px;
    line-height: 19px;

    .user-info {
      font-size: 0.8rem;
    }
    .user-image {
      width: 15px;
      margin-right: 0px;
    }
    a {
      color: #377bb5;
    }
    a:hover {
      color: #23527c;
      text-decoration: underline;
    }
    .created_at {
      color: #aaa;
    }
    .comment {
      font-size: 0.8rem;
    }
    .trix-content {
      width: 100%;
    }
  }
}

/* portfolio form & progress form*/

.new_portfolio, .edit_portfolio,
.new_progress, .edit_progress {
  background-color: white;
  padding: 20px 20px 50px;

  input, trix-editor {
    margin-bottom: 15px;
  }
  input::placeholder {
    color: #c0c0c0;
  }
  .field {
    h2 {
      background-color: #dfeffc;
      position: relative;
      display: inline-block;
      margin: 0.5rem 0 1.5rem;
      padding: 7px 10px;
      min-width: 200px;
      max-width: 100%;
      font-size: 16px;
      border-radius: 4px;
    }
    h2:before {
      content: "";
      position: absolute;
      top: 100%;
      margin-left: -15px;
      border: 15px solid transparent;
      border-top: 15px solid #e0edff;
    }
  }
  .btn {
    padding: 4px 40px;
    margin-left: 10px;
  }
  .action {
    float: right;
  }
}
.progress-form {
  h1 {
    font-size: 2.0rem;
    text-align: left;
  }
}

/* progress index */

.progress-index {
  ol > li {
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
  }
  .edit {
    float: right;
  }
}

/* ranking */

.ranking {
  ol{
    counter-reset: item;
    list-style-type: none;
    padding-left: 50px;

    li {
      position: relative;
    }
    .media:before {
      counter-increment: item;
      content: counter(item);
      font-size: x-large;
      text-align: center;
      padding-top: 1px;
      font-weight: bold;
      color: #333;
      position: absolute;
      top: 40px;
      left: -50px;
      width: 40px;
      height: 40px;
      background-color: white;
      border-radius: 50%;
    }
  }
}
