<p><%= t(".greeting", recipient: @email) %></p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t("your_email_is_being_changed", email: @resource.unconfirmed_email) %></p>
<% else %>
  <p><%= t("your_email_has_been_changed", email: @resource.email) %></p>
<% end %>
